<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/assets/style.css' />
  </head>
  <body>
    <%- include('../components/navbar') %>

    <h1>About Page</h1>
  </body>
</html>
