<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/assets/style.css' />
  </head>
  <body>
    <%- include('../components/navbar') %>
    <h1><%= kelas.nama %></h1>
    <p>Welcome to <%= kelas.nama %></p>
  </body>
</html>
